In [3]:
print("Hello World")

Hello World

In [1]:
print("""_
_ *_*""")

_
_ *_*

In [2]:
print("Hello\'s world")

Hello's world

In [4]:
print("I love \'Paneer\' ")

I love 'Paneer'

In [7]:
name="Harsh"
mark=56.67
age=20
print("I am ",name,"and my marks are",mark,"and my age is",age)

I am  Harsh and my marks are 56.67 and my age is 20

In [10]:
print(f"I am {name} and my marks are {mark} and age is {age}");

I am Harsh and my marks are 56.67 and age is 20

In [11]:
print("I am %s mark %10.2f and age is %d" %(name,mark,age));

I am Harsh mark      56.67 and age is 20

In [12]:
a=12
id(a)

140713049039600

In [13]:
a=7
b=9
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a**b
print(c)

print(d)
print(e)

print(f)
print(g)

print(h)

16
-2
0.7777777777777778
7
0
40353607

In [30]:
a=10
b=20
c= a==b
d= a<b
e= a>b
f= a<=b
g= a>=b
h= a!=b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

False
True
False
True
False
True

In [42]:
a=23
b=54
a=b
print(a)

54

In [44]:
a+=b
print(a)

2970

In [45]:
a-=b
print(a)

2916

In [46]:
a*=b
print(a)

157464

In [47]:
a/=b
print(a)

2916.0

In [48]:
a**=b
print(a)

1.2546600244789993e+187

In [24]:
a=129
b=65
c=a&b
d=a^b
e=a|b
f=a<<b
g=a>>b
print(c)

print(d)
print(e)

print(f)

print(g)

1
192
193
4759259971017064316928
0

In [25]:
19>2 and 15>2

True

In [26]:
str1="Statistics"
"s" in str1

True

In [27]:
"o" in str1

False

In [28]:
10>8>9

False

In [29]:
2**-1

0.5